.artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  .artists-header {
    position: absolute;
    font-size: 6em;
    padding-right: 10px;
    font-weight: 700;
    text-align: right;
    width: 1140px;
    @media (max-width: 1140px) {
      width: 948px;
    }
    @media (max-width: 990px) {
      width: 720px;
    }
    @media (max-width: 600px) {
      width: 100%;
      font-size: 5em;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .artists-text {
    margin-top: 180px;
    font-size: 1.3em;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.4em;
  }

  .rank-text {
    width: 450px;
    // align-self: flex-end;
    text-align: right;
    margin-right: 50px;
    @media (max-width: 600px) {
      margin-right: 0px;
      width: 300px;
    }
  }

  .artist-name {
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 10px;
    @media (max-width: 900px) {
      font-size: 1em;
    }
    @media (max-width: 600px) {
      font-size: 1em;
      font-weight: 500;
    }
  }

  .after-artists {
    margin: 100px;
  }

  .spotify-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 400px;
    border-radius: 10px;
    @media (max-width: 900px) {
      width: 300px;
    }

    .top-image {
      cursor: pointer;
      margin: 10px;
      width: 80px;
      height: 80px;
      @media (max-width: 900px) {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 600px) {
        width: 70px;
        height: 70px;
      }
    }
  }
}

.card-container {
  max-width: 1230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  .tracks-header {
    position: absolute;
    font-size: 6em;
    padding-right: 10px;
    font-weight: 700;
    text-align: left;
    width: 1140px;
    @media (max-width: 1140px) {
      width: 948px;
    }
    @media (max-width: 990px) {
      width: 720px;
    }
    @media (max-width: 600px) {
      width: 100%;
      font-size: 5em;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .tracks-sub-header {
    margin-top: 150px;
    position: absolute;
    font-size: 4em;
    padding-right: 10px;
    font-weight: 700;
    text-align: center;
    width: 1140px;
    @media (max-width: 1140px) {
      width: 948px;
    }
    @media (max-width: 990px) {
      width: 720px;
    }
    @media (max-width: 600px) {
      width: 100%;
      font-size: 3em;
      padding-left: 30px;
      padding-right: 30px;
      text-align: right;
    }
  }

  .tracks-text {
    margin-top: 0px;
    font-size: 1.3em;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.4em;
  }

  .rank-text {
    width: 450px;
    // align-self: flex-end;
    text-align: right;
    margin-right: 50px;
    @media (max-width: 600px) {
      margin-right: 0px;
      width: 340px;
    }
  }

  .track-hover-image {
    position: relative;
    z-index: 0;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    animation-delay: 1s;
    top: -125px;
    left: 27vw;

    @media (max-width: 900px) {
      height: 300px;
      width: 300px;
      top: -125px;
      left: 15vw;
    }
    @media (max-width: 600px) {
      animation-delay: 10s;
      height: 250px;
      width: 250px;
      top: -125px;
      left: 15vw;
    }
  }

  .track-name {
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 10px;
    @media (max-width: 900px) {
      font-size: 1em;
    }
    @media (max-width: 600px) {
      font-size: 1em;
      font-weight: 500;
    }
  }

  .after-tracks {
    margin: 100px;
  }

  .spotify-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 400px;
    border-radius: 10px;
    @media (max-width: 900px) {
      width: 350px;
    }

    .top-image {
      cursor: pointer;
      margin: 10px;
      width: 80px;
      height: 80px;
      @media (max-width: 900px) {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 600px) {
        width: 70px;
        height: 70px;
      }
    }
  }
}

.genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #305f72;
  text-align: center;
  margin-top: -100px;
  .genres-header {
    color: #f5f6fa;
    text-shadow: 2px 2px 3px #f18c8e !important;
    position: absolute;
    font-size: 6em;
    padding-right: 10px;
    font-weight: 700;
    text-align: left;
    width: 1140px;
    @media (max-width: 1140px) {
      width: 948px;
    }
    @media (max-width: 990px) {
      width: 720px;
    }
    @media (max-width: 600px) {
      width: 100%;
      font-size: 5em;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .genres-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .genres-text {
      color: #f5f6fa;
      margin-top: 120px;
      font-size: 1.3em;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 30px;
      font-weight: 500;
      line-height: 1.4em;
    }

    .genre-container {
      display: flex;
      flex-direction: row;
      width: 375px;
      .bar {
        margin-left: 20px;
        border-radius: 15px;
        width: 200px;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #f18c8e;
        @media (max-width: 600px) {
          margin-left: -30px;
        }
      }
      .genre-text {
        color: #f5f6fa;
        font-size: 1.2em;
        text-align: left;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        // margin-bottom: 30px;
        font-weight: 500;
        line-height: 1.4em;
      }

      .genre-title {
        color: #f0b7a4 !important;
      }
    }

    .genres-top-1 {
      font-size: 4em;
      color: #f18c8e;
      text-shadow: 2px 2px #f0b7a4 !important;
    }
    .genres-top-2 {
      font-size: 3em;
      color: #f18c8e;
      text-shadow: 2px 2px #f0b7a4 !important;
    }
    .genres-top-3 {
      font-size: 2em;
      color: #f18c8e;
      text-shadow: 2px 2px #f0b7a4 !important;
    }
    .genres-top {
      font-size: 1.5em;
      color: #f18c8e;
      text-shadow: 1px 1px #f0b7a4 !important;
    }
  }
  .return-button {
    margin: 50px;
    margin-bottom: 100px;
  }
}

.insights-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 500px;
  .header {
    margin-top: 80px;
    position: absolute;
    font-size: 6em;
    padding-right: 10px;
    font-weight: 700;
    text-align: left;
    width: 1140px;
    @media (max-width: 1140px) {
      width: 948px;
    }
    @media (max-width: 990px) {
      width: 720px;
    }
    @media (max-width: 600px) {
      width: 100%;
      font-size: 5em;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .button-div {
    display: flex;
    justify-content: center;
  }
}
.playlist-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  @media (max-width: 600px) {
    height: 450px;
    justify-content: flex-start;
  }
  .canvas {
    @media (max-width: 600px) {
      margin-top: -50px;
    }
  }

  .playlist-text {
    width: 400px;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
    @media (max-width: 600px) {
      width: 90vw;
    }
  }
}

.error {
  text-align: center;
}
