@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

.page-header {
  .sign-in-button {
    // background-image: url('../img/spotify-button.png') !important;
    background-color: #badc58 !important;
    color: #130f40;
    background-image: none !important;
  }
}

nav {
  li.nav-item {
    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
    }
    }
  .profile-pic-div {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    background: #eee no-repeat center;
    background-size: cover;
    @media only screen and (max-width: 600px) {
      align-self: flex-end;
    }
    .profile-pic {
      height: 50px;
    }
  }


  .nav-login {
    background-color: #badc58 !important;
    color: #130f40;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-image: none !important;
    @media (max-width: 1000px) {
      text-align: center !important;
      align-self: center;
    }
  }

  .nav-compatibility {
  }
}

.wrapper {
  transition: 2s ease-out;
  z-index: -10;
}

li.nav-item {
  margin-top: auto;
  margin-bottom: auto;
}

div.spotify-login {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  p {
    color: #130f40;
    font-size: 2em;
  }
}

.me {
  h1 {
    font-size: 6em;
    @media only screen and (max-width: 1250px) {
      font-size: 4em;
    }
    @media only screen and (max-width: 600px) {
      font-size: 2.5em;
      // text-align: center;
    }
  }
  a {
    &.menu {
      text-decoration: none;
      padding: 2px 6px;
      font-size: 2em !important;
      letter-spacing: -1px;
      transition: background-color 0.08s ease-in-out, color 0.08s ease-in-out;
      font-weight: 700;
      cursor: pointer;
      user-select: none;
      // transition: 2s !important;
      @media (max-width: 600px) {
          font-size: 1.5em !important;
      }
      @media (max-width: 480px) {
          padding: 2px 4px;
      }
    }
  }

  .menu-text {
    text-decoration: none;
      padding: 2px 6px;
      font-size: 1.5em !important;
      letter-spacing: -1px;
      transition: background-color 0.08s ease-in-out, color 0.08s ease-in-out;
      font-weight: 700;
      cursor: pointer;
      user-select: none;
      color:#30336b; 
      // transition: 2s !important;
      @media (max-width: 600px) {
          font-size: 1.2em !important;
      }
      @media (max-width: 480px) {
          padding: 2px 4px;
      }
  }


  .import-status {
      font-size: 2em;
      font-weight: 700;
      @media (max-width: 600px) {
        font-size: 1.5em !important;
    }
  }

  .spotify-cards {
         animation: fadein 2s;
    // @include linear-gradient($primary-states, $primary);
    position: absolute;
    transition: 5s ease-out;
    overflow: hidden;
    border-radius: 20%;
    pointer-events: none;
    z-index: 0;
    background-size: contain;
    background-color: black;
    &.card1 {
      height: 400px;
      width: 400px;
      opacity: 1;
      right: 5%;
      top: 15%;

      @media screen and (max-width: 600px) {
        animation: none;
        height: 200px;
        width: 200px;
      }
    }

    &.card2 {
      height: 300px;
      width: 300px;
      opacity: 1;
      right: 30%;
      top: 50%;
      @media screen and (max-width: 600px) {
        animation: none;
        height: 180px;
        width: 180px;
        left: 7%;
        top: 20%;
      }
    }

    &.card3 {
      height: 200px;
      width: 200px;
      opacity: 1;
      right: 18%;
      top: 60%;
      @media screen and (max-width: 600px) {
        animation: none;
        display: none;
      }
    }
  }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.waiting {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    .sign-in {
      animation-delay: 3s;
  }
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .description {
    font-size: 2em;
    color: #30336b;
    margin-bottom: 30px;
    text-align: center;
    .follow {
      font-size: 0.7em;
      .underline {
        border-bottom: 1px solid #eb4d4b;
        color: #eb4d4b !important;
      }
    }
  }

}

.underline {
  border-bottom: 1px solid #16a085;
  color: #16a085 !important;
}

.modal-img-div {
  height: 325px;
  width: 325px;
  border-radius: 162.5px;
  overflow: hidden;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  .text-box {
    margin-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width: 600px) {
      width: 85vw;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  p {
    font-size: 1.1em;
    color: #30336b;
    text-align: justify;
  }

  h2 {
    color: #30336b;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}